**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/testeBlasMaven/target/
testeBlasMaven/matrizModelo/*
*.csv
/client/target/
.vscode/*
client/relatorios/*

*.class

server/images/
